    <div class="container">

        <div class="jumbotron">

            <h1 class="text-center"> Build A Burger</h1>
            <hr>
            <img class="text-center" src="../assets/img/burger.png" alt="burger icon" height="150" width="150"/>
            <br>
        </div>

        <div class="row">

            <div class="col-md-12 ">
                <div class="col-sm-4">
                    <div class="leftBurgers">
                        <p class="heading">Designer Burgers</p>
                        <ul>
                          {{#each burgers}}
                            {{#unless this.devoured}}
                              <li>
                                <p class="burgerType">{{this.burger_name}}</p>
                                <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                                  <input type="hidden" name="devoured" value="true">
                                  <button class="btnSubmit" type="submit">Devour it</button>
                                </form>
                              </li>
                            {{/unless}}
                          {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input">
                        <h2  id="add">Add a Burger</h2>
                        <div class="form-group">
                            <form method="POST" action="burgers/insertOne" class="addOne">
                                <textarea id="textArea" type="text" name="burger_name"></textarea>
                                <button id="btnCreate" class="btnSubmit" type="submit">Create Your Burger!</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="rightBurgers">
                        <p class="heading">Old Favorites</p>
                        <ul>
                          {{#each burgers}}
                            {{#if this.devoured}}
                              <li>
                                <p class="burgerType">{{this.burger_name}}</p>
                              </li>
                            {{/if}}
                          {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
            </div>

        </div>

    </div>
