body{
    background-color: #fde3a7;
    font-family: arial;
}

li {
  list-style-type: none;
}

.jumbotron {
    color: black;
    margin-top: 20px;
    opacity: .75;
    background-color: #FF851B;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.burgerType {
  font-size: 18px;
  font-weight: bold;
}

h2 {
    font-weight: bold;
}

.btnSubmit {
    background: #FF851B;
    color: black;
    padding: 5px;
    border: 1px solid #FF851B;
    border-radius: 5px;
    margin-bottom: 10px;
}

#btnCreate {
  display: block;
  margin: 0 auto;
}

.heading {
  display:block;
  margin: 0 auto;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
