body{
    background-color: #fde3a7;
    font-family: arial;
}

li {
  list-style-type: none;
}

.jumbotron {
    color: black;
    margin-top: 20px;
}

.heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.burgerType {
  font-size: 18px;
  font-weight: bold;
}

.input h2 {
    text-align: center;
    font-weight: bold;
}

.btnSubmit {
    background: orangered;
    color: black;
    padding: 5px;
    border: 1px solid firebrick;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input textarea {
  text-align: center;
}

.textarea {
  text-align: center;
}

#btnCreate {
  display: block;
  text-align: center;
}
